body {
    background-color: #F4F6F8;
}

h1 {
    text-align: center;
}

#inputGui {
    height: 150px;
    width: 400px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}

.input {
    text-align: center;
}

.input input {
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
}

.input button {
    height: 37px;
    width: 50px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #007BFF;
}

.hideGui {
    display: none;
}

#helloGui {
    height: 150px;
    width: 400px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}

#helloGui h1 {
    text-align: center;
}

#helloGui button {
    height: 37px;
    width: 80px;
    display: block;
    border-radius: 5px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #007BFF;
}