h1 {
    text-align: center;
}

#list {
    background-color: rgb(255, 255, 255);
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.item {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.491);
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

img {
    height: 120px;
    width: 150px;
    border-radius: 5px;
}

button {
    background-color: #28A745;
    border-radius: 5px;
    color: white;
    border: none;
    height: 30px;
    width: 80px;
}

.fixBox {
    height: 120px;
    width: 150px;
}