body {
    background-color: rgb(244, 242, 242);
    font-family: Arial, sans-serif;
}

.signGui {
    width: 400px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 90%;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 15px;
    padding-left: 10px;
}

#remenberContainer {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 10px;
}

#remenberBox {
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 15px;
}

#remenberBoxComment {}

.signGui button {
    width: 85%;
    height: 40px;
    font-size: 16px;
    border: none;
    background-color: #007BFF;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.signGui button:hover {
    background-color: #0056b3;
}

#aTag {
    background: none;
    border: none;
    color: #007BFF;
    font-size: 14px;
    cursor: pointer;
}

#aTag:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}