.container h1 {
    color: #BC2229;
    font-size: 35px;
    padding: 0px 30px 0px 30px;
    text-align: center;
    margin-bottom: 0px;
}

.container {
    background-color: #FFFFFF;
    width: 400px;
    height: 230px;
    border: 3px solid #C1BCD1;
    box-shadow: 1px 2px #C1BCD1;
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10px;

}

.table {
    background-color: #F3F2F6;
    height: 100px;
}