.name {
    font-size: 30px;
}

.nameBackground {
    background-color: rgb(72, 72, 255);
    text-align: center;
    color: white;
}

.nameButton {
    background-color: rgb(72, 72, 255);
    color: white;
    padding: 7px;
    border: 0px;
}

.div2 {
    background-color: rgb(255, 255, 255);
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.mess {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    padding-left: 20px;
}

.div3 {
    background-color: rgb(238, 237, 237);
    text-align: center;
    font-size: 15px;
}

.removeMagin {
    margin: 0px;
}

.table {
    margin: auto;
}