.name {
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 15px;
    padding-right: 20px;
    border-bottom: 3px solid rgb(246, 121, 121);
}

.post1_img {
    width: 280px;
    height: 170px;
    border-radius: 7px;
}

.post1_name {
    position: relative;
    top: 30px;
    font-size: 20px;
    font-weight: bolder;
}

.post1_title {
    position: relative;
    top: 50px;
    font-size: 16px;
    width: 280px;
    height: 170px;
    font-weight: bolder;
    line-height: 23px;
    opacity: 0.4;
}

.post1_button {
    border: 3px solid rgb(247, 131, 131);
    font-size: 12px;
    height: 37px;
    width: 90px;
    border-radius: 5px;
    color: rgb(247, 131, 131);
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    font-weight: bolder;
    top: 25px;
}

.div1 {
    position: relative;
    top: 60px;
    height: 460px;
    width: 280px;
    background-color: rgba(250, 235, 215, 0);
    padding-right: 40px;
}

.div2 {
    border-left: 2px solid rgb(222, 226, 228);
    position: relative;
    top: 60px;
    height: 460px;
    width: 280px;
    background-color: rgba(250, 235, 215, 0);
    padding-right: 40px;
    padding-left: 40px;
}

body {
    margin: 20px;
}