.name {
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 15px;
    padding-right: 20px;
    border-bottom: 3px solid rgb(246, 121, 121);
}

body {
    margin: 20px;
}

.div {
    background-color: rgba(250, 235, 215, 0);
    height: 180px;
    width: 530px;
    position: relative;
    top: 80px;
    left: 5px;
}

.div2 {
    background-color: rgba(250, 235, 215, 0);
    height: 180px;
    width: 530px;
    position: relative;
    top: 80px;
    left: 70px;
}

.background_icon {
    position: relative;
    top: 30px;
    left: 30px;
    background-color: rgba(215, 163, 95, 0);
    height: 140px;
    width: 140px;
    transform: rotate(45deg);
    border: 2px solid rgb(233, 235, 236);
    border-radius: 5px;
}

.icon {
    position: relative;
    left: 75px;
    bottom: 70px;
    font-size: 60px;
    color: rgb(245, 106, 106);
}

.post_name {
    position: relative;
    bottom: 170px;
    left: 170px;
    font-size: 23px;
    font-weight: bolder;
}

.title {
    position: relative;
    font-size: 18px;
    bottom: 150px;
    left: 230px;
    width: 300px;
    height: 170px;
    font-weight: bolder;
    line-height: 23px;
    opacity: 0.4;
}

.div3 {
    background-color: rgba(250, 235, 215, 0);
    height: 180px;
    width: 530px;
    position: relative;
    top: 140px;
    left: 5px;
}

.div4 {
    background-color: rgba(250, 235, 215, 0);
    height: 180px;
    width: 530px;
    position: relative;
    top: 140px;
    left: 70px;
}