input{
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
}
h1{
    text-align: center;
}
textarea{
    width: 100%;
}
.icon{
    background-color: #0D6EFD;
    width: 90px;
    height: 30px;
    border-radius: 8px;
}