.table{
    width: 100%;
    height: 100px;
}
.tr1{
    background-color: black;
    color: white;
}
.tr2{
    background-color: lightgray;
}
.tr3{
    background-color: white;
}
.tr4{
    background-color: lightgray;
}
h1{
    text-align: center;
}