* {
    margin: 0;
    padding: 0;
}

.container {
    width: 66%;
    height: 160px;
    border: 3px solid;
    margin-top: 20px;
    margin-left: 30px;
    background-color: #F1F1F1;
}

.container .content1 {
    display: flex;
    flex-wrap: wrap;
}

.container .item1 {
    background-color: #3498DB;
    width: 180px;
    height: 65px;
    width: 250px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex: 1;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 4px;
    margin-top: 10px;
}

.container .item2 {
    background-color: #3498DB;
    width: 180px;
    height: 65px;
    width: 250px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex: 1;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 4px;
    margin-top: 10px;
}

.container .item3 {
    background-color: #3498DB;
    width: 180px;
    height: 65px;
    width: 250px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex: 1;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 4px;
    margin-top: 10px;
}

.container .item4 {
    background-color: #3498DB;
    width: 180px;
    height: 65px;
    width: 250px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex: 1;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 10px;

}

.content2 {
    display: flex;
    flex-wrap: wrap;
}

.container .item5 {
    background-color: #3498DB;
    width: 180px;
    height: 65px;
    width: 250px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex: 2.03;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 4px;
    margin-top: 10px;
}

.container .item6 {
    background-color: #3498DB;
    width: 180px;
    height: 65px;
    width: 250px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex: 1;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 4px;
    margin-top: 10px;
}

.container .item7 {
    background-color: #3498DB;
    width: 180px;
    height: 65px;
    color: white;
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex: 1;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 10px;
}