* {
    margin: 0;
    padding: 0;
}

.header {
    height: 60px;
    background-color: rgb(51, 51, 51);
    display: flex;

}

.web_name {
    flex: 1;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    text-align: center;
    position: relative;
    top: 20px;

}

.select {
    flex: 3;
    position: relative;
    text-align: center;
    font-size: 12px;
    display: flex;
    top: 25px;
    left: 40%;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: white;
}

.top {
    width: 500px;
    height: 180px;
    background-color: rgb(244, 244, 244);
    position: relative;
    top: 20px;
    left: 150px;
    padding: 20px;
}

.learn_more {
    text-decoration: none;
}

.botton {
    width: 500px;
    height: 280px;
    background-color: rgb(249, 249, 249);
    position: relative;
    top: 20px;
    left: 150px;
    padding: 20px;
}

.footer {
    position: relative;
    top: 30px;
    height: 60px;
    color: white;
    text-align: center;
    background-color: rgb(51, 51, 51);
}

.fix {
    position: relative;
    top: 20px;
}