* {
    margin: 0;
    padding: 0;
}

.main {}

.header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgba(250, 235, 215, 0);
}

.link {
    text-decoration: none;
    color: black;
    opacity: 0.5;
}

.link_select {
    text-decoration: none;
    color: black;
}

.header .name {
    flex: 3;
    font-family: 'Brush Script MT', 'Lucida Handwriting', cursive;
    font-size: 30px;
}

.header .home {
    flex: 1;
}

.header .category {
    flex: 1;
}

.header .trending {
    flex: 1;
}

.header .recent_news {
    flex: 1;
}

.header .sports_article {
    flex: 1;
}

.header .search {
    flex: 3;
}

.search .fix {
    color: white;
    background-color: rgb(141, 147, 158);
    padding: 5px;
    border-radius: 5px;
}
